# PostgreSQL
POSTGRES_URL=jdbc:postgresql://postgres:5432/retail
POSTGRES_USER=student
POSTGRES_PASSWORD=your_password_here

# Kafka
KAFKA_BOOTSTRAP_SERVERS=kafka1:19092
KAFKA_TOPICS=amur_topic,neva_topic,ob_topic,volga_topic,yenisei_topic
KAFKA_STARTING_OFFSETS=latest